html body {
    background-color: #193d0e; 
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.FPdoLc.lJ9FBc > center > input.gNO89b {
    background-color: #327a1d;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.FPdoLc.lJ9FBc > center > input.RNmpXc {
    background-color: #327a1d;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div {
    background-color: rgb(138, 240, 139);
    border-radius: 10%;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div > div.a4bIc > input {
    background-color: #429129;
    border-radius: 10%;
}

#gb {
    background-color: #193d0e !important;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb {
    background-color: #429129;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb > div.CqAVzb.lJ9FBc > center > input.gNO89b {
    background-color: #429129;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb > div.CqAVzb.lJ9FBc > center > input.RNmpXc {
    background-color: #429129;
}

body > div.L3eUgb > div.o3j99.c93Gbe > div.uU7dJb {
    background-color: #193d0e !important;
}

body > div.L3eUgb > div.o3j99.c93Gbe > div.KxwPGc.SSwjIe {
    background-color: #193d0e !important;
}

#SIvCob > a {
    color: #fff;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb > div.mkHrUc > ul.erkvQe > div > ul > li :hover {
    background-color: #429129;
}






#cnt {
    background-color: #193d0e !important; 
}

#rso > div > div {
    background-color: #193d0e !important; 
}

#slim_appbar {
    background-color: #193d0e !important; 
}

#pTwnEc {
    background-color: #193d0e !important; 
}

#searchform > div.sfbg {
    background-color: #193d0e !important; 
}

#tsf > div:nth-child(1) > div.A8SBwf > div.RNNXgb {
    background-color: rgb(138, 240, 139);
    border-radius: 10%;
}

#tsf > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div > div.a4bIc > input {
    background-color: #429129;
    border-radius: 10%;
}

#tsf > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb > div.mkHrUc > ul.erkvQe > div:nth-child(1) > ul {
    background-color: #429129;
}

#rhs > div > div > div.I6TXqe {
    background-color: #429129;
}

html body a {
    color: rgb(51, 255, 0) !important;
}

#rso > div > div > div > div > span {
    color: rgb(204, 255, 185) !important;
}

#rso > div > div > div > div > span > em {
    color: rgb(76, 254, 32) !important;
}

#fbar {
    background-color: #193d0e;
}

#yDmH0d > div.T1diZc.KWE8qe > c-wiz > div.ndYZfc > div {
    background-color: #193d0e;
}

#yDmH0d > c-wiz > c-wiz > div > div.s8GCU {
    background-color: #193d0e;
}

#kO001e {
    background-color: #193d0e;
}

#sf > div.jOYx5b > div.o6juZc > div {
    background-color: rgb(138, 240, 139);
    border-radius: 10%;
}

#REsRA {
    background-color: #429129;
    border-radius: 10%;
}

#sf > div.jOYx5b.M3w8Nb > div.Bhmw4 > div.W6pGoe > ul {
    background-color: #429129;
}

#w3bYAd > div > div.y6Uyqe > div > div> div > a {
    background-color: #429129;
}

#tsf > div:nth-child(1) > div.A8SBwf.emcav > div.UUbT9 > div.aajZCb {
    background-color: #193d0e;
}